#customer-button-no-relationship{
	list-style-image: url("chrome://tipsy-os/skin/customer-button-no-relationship.png");
	
}

#customer-button-active-relationship{
	list-style-image: url("chrome://tipsy-os/skin/customer-button-active-relationship.png");
	
}

#vendor-button-no-rdfa{
list-style-image: url("chrome://tipsy-os/skin/vendor-button-no-rdfa.png");
}

#vendor-button-active-rdfa{
list-style-image: url("chrome://tipsy-os/skin/vendor-button-active-rdfa.png");

}

#tipsy-statusbar-icon{
    list-style-image: url("chrome://tipsy/skin/statusbar-icon.png");
}