#customer-button,
#wrapper-customer-button
  {list-style-image: url("chrome://tipsy/skin/customer-button.png");}

/* common style for all custom buttons */
.tipsy                   
  {-moz-image-region: rect( 0px 24px 24px  0px);}

.tipsy :hover     
  {-moz-image-region: rect(24px 24px 48px  0px);}

[iconsize="small"] .tipsy 
  {-moz-image-region: rect( 0px 40px 16px 24px);}

[iconsize="small"] .tipsy :hover
  {-moz-image-region: rect(24px 40px 40px 24px);}
  
#vendor-button,
#wrapper-customer-button
  {list-style-image: url("chrome://tipsy/skin/vendor-button.png");}

/* common style for all custom buttons */
.tipsy                   
  {-moz-image-region: rect( 0px 24px 24px  0px);}

.tipsy :hover     
  {-moz-image-region: rect(24px 24px 48px  0px);}

[iconsize="small"] .tipsy 
  {-moz-image-region: rect( 0px 40px 16px 24px);}

[iconsize="small"] .tipsy :hover
  {-moz-image-region: rect(24px 40px 40px 24px);}
  
#xtra-vendor-button {
    list-style-image: url("chrome://tipsy/skin/xtra_vendor_button.png");
}
  
#twitter-menuitem{
    list-style-image: url("chrome://tipsy/skin/twitter.png");
}

#facebook-menuitem{
    list-style-image: url("chrome://tipsy/skin/facebook.png");
}

#linkedin-menuitem{
    list-style-image: url("chrome://tipsy/skin/linkedin.png");
}

#stumbleupon-menuitem{
    list-style-image: url("chrome://tipsy/skin/stumbleupon.png");
}

#igoogle-menuitem{
    list-style-image: url("chrome://tipsy/skin/igoogle.png");
}

#rss-menuitem{
    list-style-image: url("chrome://tipsy/skin/rss.png");
}

#myyahoo-menuitem{
    list-style-image: url("chrome://tipsy/skin/myyahoo.png");
}

#terms-menuitem{
    list-style-image: url("chrome://tipsy/skin/terms.png");
}